<div id="main-menu" class="main-menu">
  {% include locale.html %}
  {% if current_lang == 'en' %}
    {% assign mainmenu = site.data.menus.en.main | sort: 'weight' %}
  {% else %}
    {% assign mainmenu = site.data.menus.zh-CN.main | sort: 'weight' %}
  {% endif %}
  <ul>
    {% for item in mainmenu %}
    {% if item.lang_switch %}{% assign item_url = alt_lang_url %}{% else %}{% assign item_url = item.url %}{% endif %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      <a href="{{ item_url | relative_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
